.info-frame-wrapper {
    display: flex;
    height: auto;
    margin: 100px 0 35px 0;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease 0s;
}

.info-frame {
    padding: 5px 20px 3px 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.6);
    border-right: 0;
    border-radius: 20px 0 0 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease 0s;
}

@media screen and (max-width: 1280px) and (min-width: 700px) {
    .info-frame {
        padding: 5px 20px 3px 20px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.6);
        border-radius: 20px;
        background-color: white;
        display: flex;
        margin: 20px 1% 20px 1%;
        transition: all 1s ease 0s;
    }
    .info-frame-wrapper {
        padding-top: 0;
        margin: 50px 2% 10px 2%;
    }
}
@media screen and (max-width: 700px) {
    .info-frame {
        padding: 0;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.6);
        border-radius: 20px;
        background-color: white;
        display: flex;
        margin: 0 5px 0 5px;
        padding: 0 5px 0 5px;
        transition: all 0.5s ease 0s;
        transform-origin: top;
        height: 0px;
        opacity: 0;
        overflow: hidden;
    }

    .info-frame-wrapper {
        margin: 0;
        padding-top: 0;
    }
}
