.post-repair-main-wrapper {
    display: flex;
    width: 100%;
}
.post-repair-nav {
    width: 20%;
}
.postrepair-modification-panel {
    display: flex;
    background-color: white;
    width: 55%;
    margin: 3% 2% 5% 2%;
    padding-bottom: 2%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: opacity(1);
    animation: 0.5s ease-out fadeIn 1;
}
.postrepair-modification-panel h2 {
    margin-top: 5%;
}
.postrepair-modification-panel-infos {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.postrepair-modification-panel-infos .paperclip-info-icon {
    margin: 0 1% 0 1%;
}
.postrepair-picture-modification-frame {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: 2%;
    padding: 2%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: inset -4px 2px 12px rgba(0, 0, 0, 0.3);
}
.postrepair-picture-placeholder-invisible {
    display: none;
}
.postrepair-file-input {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-bottom: 15px;
}
.postrepair-file-input:hover {
    border: solid 5px #0a1e46;
    box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.6);
    transform: translateY(-3px);
}
.post-repair-icon-paperclip {
    transition: all 0.3s ease 0s;
    transform: scale(1);
}
.postrepair-file-input:hover .post-repair-icon-paperclip {
    transform: scale(1.5);
}
.postrepair-picture-placeholder {
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    min-width: 200px;
    height: 200px;
    background: none;
    border: none;
    border-radius: 15px;
}
.postrepair-picture-placeholder img {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
    cursor: pointer;
}
.postrepair-description-modification-frame {
    display: flex;
    min-width: 50%;
    border-radius: 15px;
    margin: 2%;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.6);
}
#postrepair-description-input {
    padding: 2%;
    resize: none;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: none;
}
.postrepair-submit-buttons-frame {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
#post-repair-delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}
#post-repair-delete-button:hover::after {
    font-size: medium;
    content: 'supprimer la publication';
    background-color: #d2505a;
    border-radius: 15px;
    padding: 5px;
}
#postrepair-submit-button {
    width: 40px;
    height: 40px;
}
@media screen and (max-width: 1280px) {
    .postrepair-modification-panel-infos {
        flex-direction: column;
    }
}
@media screen and (max-width: 1024px) {
    .post-repair-main-wrapper {
        flex-direction: column;
    }
    .post-repair-nav {
        width: 100%;
    }
    .postrepair-modification-panel {
        width: 100%;
    }
}
