.nav-title-wrapper {
    border-radius: 15px;
    margin: 0;
    padding: 2px 5% 4px 5%;
    margin-top: -30px;
    max-width: 80%;
    align-self: center;
    background-color: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.6);
}

.nav-title {
    text-align: center;
    color: #0a1e46;
    margin: 0;
    padding: 0;
}
